{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="row mt-4 justify-content-center">
    <div class="col-md-6 text-center">
        <h5 class="text-center mb-3">Tarefas Concluídas</h5>
        <div class="d-flex justify-content-center">
            <div class="position-relative" style="max-width: 350px; width: 100%;">
                <canvas id="tasksCompletedChart" class="w-100 h-auto"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var tasksCompleted = JSON.parse('{{ tasks_completed|safe }}');
        var tasksNotCompleted = JSON.parse('{{ tasks_not_completed|safe }}');
        
        var ctxTask = document.getElementById('tasksCompletedChart').getContext('2d');
        
        var tasksCompletedChart = new Chart(ctxTask, {
            type: 'doughnut',
            data: {
                labels: ['Concluídas', 'Não Concluídas'],
                datasets: [{
                    data: [tasksCompleted, tasksNotCompleted],
                    backgroundColor: ['#36A2EB', '#FF6384'],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    legend: {
                        display: true
                    },
                }
            }
        });
    });
</script>
{% endblock %}
